body{background-color:#f7f7f7;}
#lpjson1_rr,#lpjson2_rr{
  max-width:1220px;
  margin:0px auto;
  height:180px;
  visibility:hidden;
}
.flickity-prev-next-button.previous {
        left: -3px;
    }
    .gallery:hover .flickity-prev-next-button.previous:hover {
        opacity: 1;
    }
    .flickity-prev-next-button.next {
        right: -3px;
    }
    .gallery:hover .flickity-prev-next-button.next:hover {
        opacity: 1;
    }
.flickity-prev-next-button:disabled{opacity:0;}

    .flickity-prev-next-button {
        position: absolute;
        top: 40%;
        width: 45px;
        height: 50px;
        border: none;
        border-radius: 3px;
        background: white;
        cursor: pointer;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: 0px 0px 5px #DEDEDE;
        opacity: 0;
        transition: all ease-out .25s;
    }
 
.gallery { height: 100%; }

.gallery:hover .flickity-prev-next-button {opacity:0.8;}

.gallery-cell {margin-right: .7em;}

.gallery-cell-image {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.gallery-cell-image.flickity-lazyloaded,
.gallery-cell-image.flickity-lazyerror {
  opacity: 1;
}


/* certona css */

div.certona {
  font-family:Verdana, Geneva, sans-serif;

  
  vertical-align:top;
}
div.certona.gallery-cell{
  max-height:200px;
}
div.certona .certona-price{
  padding:0px 0px 5px 0px;
   
  font-size:1em;  
}
div.certona .certona-list-price{
  color:#888888;
  text-decoration:line-through;
  font-size:.75em;
}

div.certona .certona-sale-price{
  color:#ed2124;
}

div.certona .certona-desc {
  position:relative;
  width:125px;  
  padding: 10px 5px 5px 10px;
  font-size:.75em;
  transition: all .25s ease;
  top:20px;
  max-height:55px;
  overflow:hidden;
  background-color:#ffffff;
  background-color:rgba(255,255,255,.80);
}

div.certona:hover .certona-desc{
  top: -110px;
}

div.certona .certona-desc a{
  color:#404040 !important;
  text-decoration:none;
  display:block;
   
}
div.certona .certona-desc a:hover{  
  text-decoration:underline;
}

div.certona .certona-image{
  border: solid 1px #f2f2f2;
  padding: 5px;
  background-color: white;
  position: relative;
  top: 0px;
  transition: all .25s ease;
}

div.certona:hover img{top: -10px;}

div.certona .certona-buy-now{
  padding-bottom:5px;
  display:block;
  color: #ee3124;
}
div.certona .certona-buy-now::after {
    content: "\0000a0\00BB";    
    color: #EE3124;
  text-decoration:none !important;
}