/* 

CustomTSA
---------------------------------------------------------

Main Page: Bikes Category
Developer: Final Vadaszy
Last Update: 10/27/15

---------------------------------------------------------
Add this to PureTSA.css for custom page specific styling

*/
#tsaWrapper{
	position:relative;
    background-color: #f7f7f7;
    }
#tsaWrapper .dynoText{
	font-size:16px;
	width:100%;
}
#tsaWrapper .dynoHead{
	font-size:16px;
	width:100%;
}

#tsaWrapper .poverHalf{
	position: absolute;
	z-index:10;
	width:100%;
	max-width:604px;
    height: 100%;
    padding: 1em;
	
}
#tsaWrapper .poverHalf p{

}
#tsaWrapper .hide-md{
	display:none;
}
#tsaWrapper #accessories{background-color:#ffffff;}
#tsaWrapper .m-box{
	margin: .3em;
    box-sizing: border-box;
    float: left;
}


#tsaWrapper .pC1{
	bottom: 18%;
    position: absolute;
    width: 25%;
    left: 5%;
}

/* ----- Page Specific Media Queries ----- */




@media screen and (min-width: 629px) and (max-width: 767px){
	#tsaWrapper .pure-g .poverHalf p{
	margin:auto 69px;
	}
	#tsaWrapper .pC1{
		    left: 13%;

	}

}
@media screen and (max-width: 568px){
	#tsaWrapper .pure-g .dynoText{
	font-size:10px;
	}
	#tsaWrapper .pure-g .dynoHead{
	font-size:6px;
	}
	#tsaWrapper .pC1{
		bottom:7%;
		left:3%;
	}

}
@media screen and (max-width: 768px){
	#tsaWrapper .hide-md{
		display:block;
	}

}
@media screen and (min-width: 569px) and (max-width: 768px){
	#tsaWrapper .pure-g .dynoText{
	font-size:14px;
	}
	#tsaWrapper .pure-g .dynoHead{
	font-size:12px;
	}

}

@media screen and (min-width: 769px) and (max-width: 1024px){
	#tsaWrapper .pure-g .dynoText{
	font-size:14px;
	}

}


/*-----Old------*/

@media all and (min-width: 653px) {
  #tsaWrapper nav li {
    float: left;
    width: 15% !important;
    text-align: center;
  }